{{ define "main" }}

<h1>About</h1>
<p>
    It’s Friday, your week has been tough, and the kroket is calling, so don’t leave it frying.
    This site exists solely to justify your snack and make it sound like a cultural obligation.
</p> 
<p> Hosted by <a href="https://nexaa.io?utm_source=kroket&utm_medium=about&utm_campaign=2025" target="_blank">Nexaa</a> maintained on <a href="https://github.com/nexaa-cloud/kroket" target="_blank">Github</a>
</p>
<hr>
<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ with .Resources.ByType "image" }}
                    {{ with index . 0 }}
                        <img src="{{ .RelPermalink }}" alt="">
                    {{ end }}
                {{ end }}
                {{ .Content }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>


{{ end }}